.navBg{
  background-color: #111928;
}
.chapterHeader{
  background-color: #070E1A;
}

.textareaBg{
  background-color: #222A39;
}

.userBackground{
  background-color: #040911;
}

.assistantBackground{
  background-color: #17243f;
}
.notesBg{
  background-color: #0D1525;
}
