<div *ngIf="chapter" class="  rounded-md  ">
  <div class="flex">
    <h3 class="font-semibold text-lg  mb-2">{{ chapter.title }}</h3>

    <div class="flex" *ngIf="isUpdate">
      <div [routerLink]="'/step2/'+courseId+'/'+chapter.id">
        <img class=" ml-3 w-6 h-6 cursor-pointer" src="assets/svgs/edit.svg" >
      </div>
      <img class=" mx-3 w-6 h-6 cursor-pointer" src="assets/svgs/delete.svg" (click)="deleteChapter(chapter.id)">
      <div  *ngIf="!chapter.containsChapters" [routerLink]="'/step3/'+chapter.id">
        <img class="  w-6 h-6 cursor-pointer" src="assets/svgs/add.svg" >
      </div>
    </div>
  </div>

  <ul class="list-disc pl-5 space-y-2">
    <!-- Check if the chapter contains child chapters -->
    <ng-container *ngIf="chapter.containsChapters; else lessonsTemplate">
      <li *ngFor="let childChapter of chapter.childChapters" class="mb-2 list-none text-dark-2 flex">
        <!-- Recursive component usage -->
        <app-chapter (deleteChapterEvent)="deleteChapter($event)" [isUpdate]="isUpdate" [courseId]="courseId" [chapter]="childChapter"></app-chapter>
      </li>
    </ng-container>
    <ng-template #lessonsTemplate>
      <div class="mb-2">
        <li *ngFor="let lesson of chapter.lessonCourseResponses" class="mb-2 list-none text-body-color flex">
          <span class="text-sm font-medium text-gray-700 cur">{{ lesson.title }}</span>
          <div *ngIf="isUpdate" [routerLink]="'/step3/'+chapter.id+'/'+lesson.id">
            <img class=" ml-3 w-6 h-6 cursor-pointer" src="assets/svgs/edit.svg" >
          </div>

          <img *ngIf="isUpdate" (click)="deleteLesson(lesson.id)"  class=" mx-3 w-6 h-6 cursor-pointer" src="assets/svgs/delete.svg" >
        </li>
      </div>
    </ng-template>
  </ul>
</div>

