<div *ngIf="chapter" class="  rounded-md  ">
  <h3 class="font-semibold text-lg  mb-2">{{ chapter.title }}</h3>
  <ul class="list-disc pl-5 space-y-2">
    <!-- Check if the chapter contains child chapters -->
    <ng-container *ngIf="chapter.containsChapters; else lessonsTemplate">
      <li *ngFor="let childChapter of chapter.childChapters" class="mb-2 list-none text-dark-2">
        <!-- Recursive component usage -->
        <app-chapter [chapter]="childChapter"></app-chapter>
      </li>
    </ng-container>
    <!-- Template for chapters that contain lessons -->
    <ng-template #lessonsTemplate>
      <div class="mb-2">
        <li *ngFor="let lesson of chapter.lessonCourseResponses" class="mb-2 list-none text-body-color">
          <span class="text-sm font-medium text-gray-700">{{ lesson.title }}</span>
        </li>
      </div>
    </ng-template>
  </ul>
</div>

