<app-navbar></app-navbar>
<div class="container mx-auto">
    <div class="my-10">
        <app-middle-title [headTitle]="environment.step2Page.formTitle" [subTitle]="environment.step2Page.subTitle" ></app-middle-title>
    </div>
    <div class="flex flex-col md:flex-row items-stretch ">
        <form [formGroup]="chapterForm" class="w-1/2 sm:w-full md:mr-2 mb-3 px-5 border-r" (ngSubmit)="onSubmit()">
            <h1 class="font-bold text-xl text-dark-2 mb-3">{{environment.step2Page.formTitle}}</h1>
                <app-text-input formControlName="title" placeholder="title"></app-text-input>
            <div class="mt-6">
                <app-select-input
                        [placeholder]="'type'"
                        formControlName="containsChapters"
                        [options]="typeOptions"
                ></app-select-input>
            </div>
            <div  formArrayName="chaptersForm" class="flex">
                <div class="mt-6 mr-3" *ngFor="let chapter of chaptersForm.controls; let i = index" [formGroupName]="i">
                    <app-select-input
                        [placeholder]="'select a chapter'"
                        formControlName="chapterId"
                        [options]="chapterOptions[i]"
                        (change)="onChapterChange($event, i)"
                    ></app-select-input>
                </div>
            </div>
            <div class=" flex justify-center my-5">
                <app-small-button [buttonText]="'Create Chapter!'"></app-small-button>

            </div>
        </form>
        <div class="w-1/2 sm:w-full md:mr-2 mb-3">
          <div class="ml-5">
            <app-chapter *ngFor="let chapter of courseDetails.chapterCourseResponses" [chapter]="chapter"></app-chapter>
          </div>
        </div>

    </div>

</div>
