<div class="w-full px-4 md:w-1/2 lg:w-1/3">
  <div class="w-full mb-10">
    <div class="mb-6 overflow-hidden rounded h-[300px] bg-cover bg-center" >



      <img

        *ngIf="course.image!= null && course.image!=''"
        src="{{course.image}}"
        alt="image"
        class="w-full"
      />
      <img

        *ngIf="course.image== null || course.image==''"
        src="assets/images/courser%20place%20holder%20image.png"
        alt="image"
        class="w-full"
      />

    </div>
    <div>
      <h3>
        <h1
          class="inline-block mb-4 text-xl font-semibold text-dark sm:text-2xl lg:text-xl xl:text-2xl"
        >
          {{course.title}}
        </h1>
      </h3>
      <p class="text-base text-body-color mb-5">
        {{course.about | truncate:100}}
      </p>

      <a *ngIf="!isDraft"
        [routerLink]="'/course/'+course.id"
      >

        <app-small-button [buttonText]="'view course'"></app-small-button>
      </a>

      <a *ngIf="isDraft"
        [routerLink]="'/step2/'+course.id"
      >
        <app-small-button [buttonText]="'Modify Course'"></app-small-button>
      </a>
    </div>
  </div>
</div>
