<form [formGroup]="passwordUpdateForm" >
    <h1 class="font-semibold text-dark ">Change your personal information:</h1>
    <div class="my-5">
        <app-text-input [inputType]="'password'" formControlName="oldPassword" [placeholder]="'old Password'"></app-text-input>
    </div>
    <div class="my-5">
        <app-text-input [inputType]="'password'" type="password" formControlName="newPassword" [placeholder]="'new Password'"></app-text-input>
    </div>
    <app-small-button (click)="onSubmit()" [buttonText]="'submit'"></app-small-button>
</form>
