<app-navbar></app-navbar>
<div class="container mx-auto">
  <p class="text-dark text-lg font-semibold my-10 text-center" *ngIf="loading">{{environment.loading.courseLoading}}</p>
</div>

<!-- Not found message only if not loading and no courses are found -->
<app-not-found *ngIf="!loading && categoryCourses.courseResponses.length === 0"
               [error]="error"
               ></app-not-found>

<!-- Courses section only if not loading and courses are found -->
<section *ngIf="!loading && categoryCourses.courseResponses.length !== 0">
  <app-main-title [mainText]="categoryCourses.title" [subText]="categoryCourses.description"></app-main-title>
  <div class="container mx-auto">
    <ul class="flex items-center mb-10">
      <app-breadcrumb [title]="'categories'" [link]="'/categories'"></app-breadcrumb>
      <app-breadcrumb *ngFor="let categoryName of categoryNames"
                      [title]="categoryName.title"
                      [link]="'/categories/'+ categoryName.id"></app-breadcrumb>
      <app-breadcrumb [title]="categoryCourses.title" [isLastItem]="true" [isActive]="true"></app-breadcrumb>
    </ul>
    <div class="-mx-4 flex flex-wrap">
      <app-course *ngFor="let course of categoryCourses.courseResponses" [course]="course"></app-course>
    </div>
  </div>
</section>
